@import "@fontsource/press-start-2p";

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Press Start 2P", monospace;
  background: #050505;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

button {
  cursor: pointer;
}



/* ===== Section Title ===== */

.section-title {
  @apply relative inline-block font-bold tracking-tight text-white;
}

.section-title::after {
  content: "";

  @apply absolute left-0 -bottom-3 h-1 w-24 rounded-full;

  background: linear-gradient(
    90deg,
    #8b5cf6,
    #d946ef,
    #a855f7
  );

  box-shadow: 0 0 18px rgba(168, 85, 247, 0.9);
}