@import "@fontsource/press-start-2p";

body {
  font-family: "Press Start 2P", monospace;
  background: #050505;
  color: #00ff66;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}
